<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>TCM Diagnose</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="stylesheets/app.min.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="lib/angular.min.js"></script>

    <script src="min/libCode/lib.min.js"></script>
    
    <script src="min/applicationCode/applicationCode.min.js"></script>
    
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

<div ng-app="myapp">
  <div data-role="page" id="defaultPage" data-theme="b">

    <div data-role="panel" id="leftpanel"
         data-position="left" data-display="overlay"
         ng-controller="PanelController">
      <h4>Categories Panel</h4>

      <!--<pre class="code">{{sharedData.RecentlySelectedControlDetails.categoriesInfo | json}}</pre> -->
      <span>
        {{sharedData.RecentlySelectedControlDetails.controlLabel}}
        {{sharedData.RecentlySelectedControlDetails.controlLabel ? " : " : "" }}
        {{sharedData.RecentlySelectedControlDetails.valueLabel}}
      </span>
      <div id="categoriesSection">
        <categories categorieschildren="sharedData.RecentlySelectedControlDetails.categoriesInfo"
                       template-name="CategoriesButtonsStems"></categories>

      </div>

      <a href="#close" ng-click="$event.preventDefault()" data-rel="close" id="closePanelButton"
         class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-left ui-btn-inline ui-mini">Close panel</a>

    </div>

    <!-- <div data-role="panel" id="rightpanel"
         data-position="right" data-display="overlay">
         <rightpanel></rightpanel>
    </div> -->

    <div data-role="header" id="header" class="jqm-header">
      <h1 id="pageHeader">TCMDiagnosis</h1>
    </div>
    <div id="content" role="main" class="ui-content jqm-content">

      <div id="tabs" >
        <div data-role="navbar" id="mainTabHeader">
          <ul>
            <!--    <li><a href="#diagnose" class="" id="diagnoseTabHeader">Diagnose</a></li> -->
            <li><a href="#client" id="clientTabHeader">Client</a></li>
            <li><a href="#diagnose" class="ui-disabled" id="diagnoseTabHeader">Diagnose</a></li>
            <li><a href="#classification" class="ui-disabled" id="classificationTabHeader">Classification</a></li>
            <li><a href="#config">Config</a></li>
          </ul>
        </div>

        <!-- Config Tab contents -->
        <div id="config" class="ui-body-d ui-content">
          
          <div class="ui-body-d ui-content" data-role="collapsible" data-collapsed="false">
            <h4>Lists Config</h4>
            <div class="ui-body-d ui-content"
                 ng-include="'/Components/ControlsTreeModule/ControlsTreeTemplate.html'"></div>
          </div>

          <diagnose-config></diagnose-config>
          
          <ul id="configEventsMessages" data-role="listview"></ul>

          <div id="diagnoseConfig" class="ui-body-d ui-content hide" data-role="collapsible" data-collapsed="true">
            <h4 data-content="tabName">Config Diagnose</h4>
            <div class="ui-body-d ui-content">
              <ul data-role="listview" ></ul>
            </div>
            <div data-role="fieldcontain">
              <a data-role="button" id="addDiagnoseTabButton">Add Diagnose</a>
            </div>
          </div>

          <div ng-controller="ConfigureClassificationController"
               class="ui-body-d ui-content hide" data-role="collapsible" data-collapsed="true">

            <!-- {{sharedData.classificationData}} -->
            <h4>Classified Diagnose Items</h4>

            <ul data-role="listview" id="allItems">
              <li data-role="collapsible" data-collapsed="true"
                  ng-repeat="c in sharedData.classificationData" ng-include="'classificationItemTemplate.html'"
                  data-inset="true" enhance-ui="{event: 'allRendered'}">
              </li>
            </ul>

            <input type="text" placeholder="New Classification ..." ng-model="inputClassificationName" />

            <div align="right">
              <a href="#" data-role="button" data-inline="true" id="add" ng-click="addClassification()">Add</a>
            </div>

          </div>

          <div id="dbSection" class="ui-body-d ui-content"  data-role="collapsible" data-collapsed="true">
            <h4>DB</h4>
            <a data-role="button"  id="dropDBStructureButton"
               data-inline="true">DB Drop structure</a>

            <a data-role="button"  id="createDBButton"
               data-inline="true">DB create structure</a>
            <a data-role="button" id="loadTestClientDataButton"
               data-inline="true">DB Install test client data</a>

            <a data-role="button" id="dbExportDataButton"
               data-inline="true">DB Export Data</a>

            <ul id="filesForDownload"></ul>
          </div>
        </div>
        
        <!-- Client Tab contents -->
        <div id="client" class="ui-body-d ui-content">

          <a data-role="button" data-transition="slidedown" id="newClientButton">New Client</a>

          <!-- Client Form area -->
          <div class="div-widget" id="newClientArea" style="display:none;">
            <div data-role="fieldcontain" style="display:none">
              <label>Id</label>
              <input id="clientId" type="text">
            </div>
            <div data-role="fieldcontain">
              <label>Name</label>
              <input id="clientNameInput" type="text">
            </div>
            <div data-role="fieldcontain">
              <label>Age</label>
              <input id="clientAgeInput" type="number">
            </div>
            <div data-role="fieldcontain">
              <label>Date and hour of birth</label>
              <input id="birthdateAndHourInput" type="datetime-local">
            </div>
            <div data-role="content">
              <select id="clientGender" data-native-menu="true" data-format="nestedTemplateFormatter">
                <option value="">-- Select Gender --</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div data-role="fieldcontain">
              <label>Phone</label>
              <input id="clientPhoneInput" type="text">
            </div>
            <div data-role="fieldcontain">
              <label>Address</label>
              <textarea id="clientAddressInput"></textarea>
            </div>
            <div data-role="fieldcontain">
              <label>Email</label>
              <input id="clientEmailInput" type="email">
            </div>
            <a data-role="button" id="cancelChangesClientButton" data-inline="true">Cancel</a>
            <a data-role="button" id="saveClientButton" style="display:none;" data-inline="true">Save</a>
            <a data-role="button" id="editClientButton" data-inline="true">Edit</a>
          </div>

          <!-- Client search area -->
          <div data-role="fieldcontain">
            <form class="ui-filterable">
              <input id="autocomplete-input" data-type="search" placeholder="Search client ...">
            </form>
            <ul id="autocomplete" data-role="listview"
                data-inset="true" data-filter="true"
                data-input="#autocomplete-input"></ul>

            <a data-role="button" id="fetchAllButton" data-inline="true">Fetch All</a>
            <a data-role="button" id="clearSearchButton" data-inline="true">Clear Fetch</a>
          </div>
        </div>

        <!-- Classification Tab contents -->
        <div id="classification" class="ui-body-d ui-content">
          <div id="classificationTabContent">

            <div id="ClassificationListController"
                 ng-controller="ClassificationListController">

              <!--{{data}} -->

              <div data-role="collapsible-set" ng-include="'views/ClassificationList.html'"></div>

              <a id="saveClassificationChanges" href="#" data-role="button" ng-click="saveClassificationInfo()">Save</a>
            </div>
          </div>

        </div>

        <!-- Diagnose Tab contents -->
        <div id="diagnose">
          <input id="clientId" type="hidden" />
          <div style="display: none;">
            <input id="diagnoseId" placeholder="Existing Diagnose Id ..." type="text" />
            <input id="diagnoseIdForClient" placeholder="Next New Diagnose Number ..." type="text" />
          </div>
          <div id="diagnoseTabArea">
            <div ng-controller="DiagnoseController" id="DiagnoseController">

              <!--
              SelectedControls:
              {{SelectedControls}}

             Selected Classification
              {{sharedData.ControlCategoriesInfo}}

              Shared Classification Data:
              {{sharedData.classificationData}}

              <div id="ControlsContainer"> </div>

              <pre class="code">{{sharedData.controls | json}} </pre>  -->
              <div ng-repeat="ctrl in sharedData.controls">
                <div ng-if="ctrl.diagnoseTabChoice !== 'useAsWebCamTab'">
                  <!-- <r controls="ctrl" attach-categories="true" ></r> -->
                  <showcontols controls="ctrl" attach-categories="true"></showcontols>
                </div>
                <div ng-if="ctrl.diagnoseTabChoice === 'useAsWebCamTab'"
                     ng-controller="WebCamSectionController as ctrl"
                     ng-include="'/Components/WebCam/WebCamTab.html'">WebCam</div>
              </div>

              <a href="#leftpanel" ng-click="$event.preventDefault()" 
                 class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-mini">Open Categorization Panel</a>

              <!-- <a href="#rightpanel" ng-click="$event.preventDefault()" 
                 class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-mini">Open Right Panel</a> -->

              <a id="saveDiagnoseData" href="#" data-role="button" 
                 data-inline="true" ng-click="saveDiagnoseItemsData()">Save Diagnose Data</a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div id="htmlContent"></div>

<script type="text/ng-template" id="CategoriesButtonsStems">

<div class="ui-field-contain controlgroup-block" ng-repeat="c in categorieschildren track by $index">
<!-- <pre class="code">{{c | json}}</pre>  -->
  <fieldset data-role="controlgroup" data-type="horizontal">
    <input type="checkbox" name="checkbox-bt-{{c.data.id || c.properties.id}}"
      id="checkbox-bt-{{c.data.id || c.properties.id}}" ng-model="c.properties.value">
    <label for="checkbox-bt-{{c.data.id || c.properties.id}}">{{c.data.name || c.properties.label}}</label>
  </fieldset>

  <categories categorieschildren="c.categorieschildren" ng-show="c.properties.value"></categories>
</div>

</script>

<!-- Start: Classification Item Template -->
<script type="text/ng-template" id="classificationItemTemplate.html">
  <h2>{{c.data.name}}</h2>

  <ul data-role="listview" data-inset="true">
    <li ng-repeat="s in c.categorieschildren"
        enhance-ui="{event: 'allRendered'}">
      <a href="#">{{s.data.name}}</a>
      <a href="#" data-icon="delete"
         ng-click="deleteSubCategory(s.data.classificationInsertId, c.data.classificationInsertId)"></a>
    </li>
  </ul>

  <div align="right">
    <input type="text" placeholder="New Sub Classification ..."
       id="classificationName" ng-model="c.subCategoryInput" />
    <a href="#" class="ui-btn ui-btn-inline ui-mini"
       ng-click="addSubClassification(c.data.classificationInsertId, $index)">Sub Category</a>
    <a href="#" data-role="button" data-inline="true" ng-click="deleteClassification(c.data.id, $index)">Delete</a>
  </div>
</script>
<!-- End: Classification Item Template -->

<!-- Start: Collapsible Panel For Client personal info template -->
<script type="text/html" id="collapsibleForClientPersonalInformationTemplate">
  <div data-role="collapsible">
    <h5>Personal Details</h5>
    <div data-role="fieldcontain" style="display:none">
      <label>Id</label>
      <label class="client-id" type="text" data-content="id"
             data-template-bind='[{"attribute": "value", "value": "id"},
                                 {"attribute": "data-client-id", "value": "id"},
                                 {"attribute": "data-current-value", "value": "id"},
                                 {"attribute": "id", "value": "id",
                                 "formatter": "prependChars", "formatOptions": "clientId"}]' >
      </label>
    </div>
    <div data-role="fieldcontain">
      <label>Name:</label>
      <label type="text" class="client-name-input" data-content="name"
             data-template-bind='[{"attribute": "value", "value": "name"},
                                 {"attribute": "data-client-id", "value": "id"},
                                 {"attribute": "data-current-value", "value": "name"},
                                 {"attribute": "id", "value": "id",
                                 "formatter": "prependChars", "formatOptions": "clientNameInput"}]' >
      </label>
    </div>
    <div data-role="fieldcontain">
      <label>Age:</label>
      <label type="number" class="js-client-age-input" data-content="age"
             data-template-bind='[{"attribute": "value", "value": "age"},
                                 {"attribute": "data-client-id", "value": "id"},
                                 {"attribute": "data-current-value", "value": "age"},
                                 {"attribute": "id", "value": "id",
                                 "formatter": "prependChars", "formatOptions": "clientAgeInput"}]' >
        </label>
    </div>
    <div data-role="fieldcontain">
      <label>Date and hour of birth:</label>
      <label type="datetime-local" class="js-birthdate-and-hour-input" data-content="dateHourOfBirth"
             data-template-bind='[{"attribute": "value", "value": "dateHourOfBirth"},
                                 {"attribute": "data-client-id", "value": "id"},
                                 {"attribute": "data-current-value", "value": "dateHourOfBirth"},
                                 {"attribute": "id", "value": "id",
                                 "formatter": "prependChars", "formatOptions": "birthdateAndHourInput"}]' >
        </label>
    </div>
    <div data-role="fieldcontain">
      <label>Gender:</label>
      <label class="js-client-gender" data-native-menu="false" data-content="sex" style="text-transform: capitalize;"
              data-template-bind='[{"attribute": "value", "value": "sex"},
                                  {"attribute": "data-client-id", "value": "id"},
                                  {"attribute": "data-current-value", "value": "sex"},
                                  {"attribute": "id", "value": "id",
                                  "formatter": "prependChars", "formatOptions": "clientGender"}]'
              >
      </label>
    </div>
    <div data-role="fieldcontain">
      <label>Phone:</label>
      <label type="text" class="js-phone-input" data-content="phone"
             data-template-bind='[{"attribute": "value", "value": "phone"},
                                 {"attribute": "data-client-id", "value": "id"},
                                 {"attribute": "data-current-value", "value": "phone"},
                                 {"attribute": "id", "value": "id",
                                 "formatter": "prependChars", "formatOptions": "clientPhoneInput"}]' >
        </label>
    </div>
    <div data-role="fieldcontain">
      <label>Address:</label>
      <label class="js-address-input" data-content="address"
                data-template-bind='[{"attribute": "data-current-value", "value": "address"},
                                    {"attribute": "data-client-id", "value": "id"},
                                    {"attribute": "id", "value": "id",
                                    "formatter": "prependChars", "formatOptions": "clientAddressInput"}]'>
        </label>
    </div>
    <div data-role="fieldcontain">
      <label>Email:</label>
      <label type="email" class="js-client-email-input" data-content="email"
             data-template-bind='[{"attribute": "value", "value": "email"},
                                 {"attribute": "data-client-id", "value": "id"},
                                 {"attribute": "data-current-value", "value": "email"},
                                 {"attribute": "id", "value": "id",
                                 "formatter": "prependChars", "formatOptions": "clientEmailInput"}]' >
        </label>
    </div>

    <a data-role="button" class="js-cancel-changes-client-button" data-inline="true"
       data-template-bind='[{"attribute": "id", "value": "id",
                                 "formatter": "prependChars", "formatOptions": "cancelChangesClientButton"},
                           {"attribute": "data-client-id", "value": "id"}]' style="display: none;">Cancel</a>
    <a data-role="button" class="js-save-client-button ui-disabled js-disabled" style="display:none;" data-inline="true"
       data-template-bind='[{"attribute": "id", "value": "id",
                                 "formatter": "prependChars", "formatOptions": "saveClientButton"},
                           {"attribute": "data-client-id", "value": "id"}]'>Save</a>
    <a data-role="button" class="js-edit-client-button" data-inline="true"
       data-template-bind='[{"attribute": "id", "value": "id",
                                 "formatter": "prependChars", "formatOptions": "editClientButton"},
                           {"attribute": "data-client-id", "value": "id"}]'>Edit</a>
  </div>
</script>
<!-- End: Collapsible Panel For Client personal info template -->

<!-- Start: collapsible Panel For Client tab template -->
<script type="text/html" id="collapsiblePanelForClientTemplate">
  <div class="js-client-details" data-role="collapsible"
       data-template-bind='[{"attribute": "data-client-id", "value": "properties.clientId"}]'>
    <h4 data-content="properties.heading">Client Name</h4>

    <div class="js-appointments" id="" data-role="collapsible">
      <h4>Calendar</h4>

      <ul data-role="listview" class="js-appointments-ist"
          data-template-bind='[{"attribute": "id", "value": "properties.clientId",
                                 "formatter": "prependChars", "formatOptions": "appointmentsList"},
                           {"attribute": "data-client-id", "value": "properties.clientId"}]'
          >
      </ul>

      <input type="datetime-local"
             data-template-bind='[{"attribute": "id", "value": "properties.clientId",
                                 "formatter": "prependChars", "formatOptions": "appointmentDate"},
                           {"attribute": "data-client-id", "value": "properties.clientId"}]'
             />

      <div align="right">
        <a href="#" data-role="button" data-inline="true" class="js-edit-appointments"
           data-template-bind='[{"attribute": "id", "value": "properties.clientId",
                                 "formatter": "prependChars", "formatOptions": "editAppointmentsButton"},
                               {"attribute": "data-client-id", "value": "properties.clientId"}]'
           >Edit Appointments</a>

        <a href="#" data-role="button" data-inline="true" class="js-save-appointments hide"
           data-template-bind='[{"attribute": "id", "value": "properties.clientId",
                                 "formatter": "prependChars", "formatOptions": "saveAppointmentsButton"},
                               {"attribute": "data-client-id", "value": "properties.clientId"}]'
           >Save Appointments</a>

        <a href="#" data-role="button" data-inline="true" class="js-add-appointment"
           data-template-bind='[{"attribute": "data-client-id", "value": "properties.clientId"}]'
           >Add Appointment</a>
      </div>
    </div>

    <div class="js-client-personal-details"
         data-content-prepend="properties.personalData"
                data-format="nestedTemplateFormatter"
                data-format-options='{"template":"#collapsibleForClientPersonalInformationTemplate"}'
         >
    </div>

    <div class="js-diagnose-details" data-role="collapsible-set"></div>
    <div class="ui-body-d ui-content">
      <a href="#" data-role="button" data-inline="true" class="js-add-new-diagnose-button"
         data-template-bind='[{"attribute": "data-client-id", "value": "properties.clientId"}]'
         >Add Diagnose</a>
      <a href="#" data-role="button" data-inline="true" class="js-delete-client-button">Delete Client</a>
    </div>
  </div>
</script>
<!-- End: Collapsible panel template -->

 <!-- Start: Collapsible Panel For Client Diagnose item in client tab template : child of collapsiblePanelForClientTemplate -->
<script type="text/html" id="collapsiblePanelForClientDiagnoseTemplate">
<div data-role="collapsible" data-collapsed="false" class="js-diagnose-item-container"
     data-template-bind='[{"attribute": "data-client-id", "value": "properties.clientId"},
                         {"attribute": "data-diagnose-id", "value": "properties.id"}]'>
  <h5 data-content="properties.heading">Diagnose 1</h5>
  <ul data-role="listview"
      data-template-bind='[{"attribute": "id", "value": "properties.uniqueDiagnoseListId"}]'>

  </ul>
  <a href="#" data-role="button" data-inline="true" class="js-edit-diagnose-button">Edit</a>
  <a href="#" data-role="button" data-inline="true" class="js-classify-diagnose-button"
     data-template-bind='[{"attribute": "class", "value": "properties.classes"}]'
     >Classify</a>
  <a href="#" data-role="button" data-inline="true" class="js-delete-diagnose-button">Delete</a>
</div>
</script>
<!-- End: Collapsible Panel For Client Diagnose item in client tab template -->


<!-- Start: List Item For Client Diagnose item in client tab template 
-->
  
<script type="text/html" id="checkboxClassificationInClientDiagnoseTemplate">
<label>
  <span data-content="name"></span>
  <input type="checkbox" class="js-diagnose-classification-item"
         data-template-bind='[{"attribute": "data-class-id", "value": "id"},
                             {"attribute": "data-class-name", "value": "name"}]'
         >
</label>
</script>
<!-- End: Collapsible panel template -->


<!-- Start: Config Tab template -->
<script type="text/html" id="configEntryItemTemplate">

<li class="js-tab-details-container" data-content="type"
    data-template-bind='[{"attribute": "style", "value": "displayInCofigTab"}]'>

  <div class="js-new-diagnose-container"
       data-has-subtabs="false"
       data-template-bind='[{"attribute": "id", "value": "isNewDiagnoseFile",
                           "formatOptions": "newDiagnoseContainer", "value": "tabIndex",
                           "formatter": "prependChars"},
                           {"attribute": "data-diagnose-tab-config-index", "value": "tabIndex"}]'
       >
    <h4 data-content="tabName">Config Diagnose page</h4>

    <div data-role="fieldcontain">
      <label>Diagnose Name</label>

      <input type="text" class="js-diagnose-name" value="Config Diagnose page"
             data-template-bind='[{"attribute": "value", "value": "tabName"}]' />
    </div>
    <div data-template-bind='[{"attribute": "id",
                             "formatOptions": "diagnoseControlsFilesContainer", "value": "tabIndex",
                             "formatter": "prependChars"}]'
        data-content-prepend="subTabsArray"
        data-format="nestedTemplateFormatter"
        data-format-options='{"template":"#configEntryFileInputTemplate"}'>

    </div>

    <div data-role="fieldcontain">
      <a href="#" data-role="button" data-inline="true" class="js-save-button">Save</a>
      <a href="#" data-role="button" data-inline="true" class="js-delete-button"
         data-template-bind='[{"attribute": "data-diagnose-tab-config-index", "value": "tabIndex"}]'
         >Delete</a>
      <a href="#" data-role="button" data-inline="true" class="js-add-subtab-button"
         data-template-bind='[{"attribute": "data-diagnose-tab-config-index", "value": "tabIndex"}]'
         >Add Sub Tab</a>
    </div>
    <div data-role="fieldcontain" style="display:none">
      <input type="checkbox"
             class="categorize-diagnose-flipswitch"
             data-role="flipswitch"
             data-template-bind='[{"attribute": "id", "value": "properties.id",
                                  "formatter": "prependChars", "formatOptions": "classificationDiagnoseSwitch"}]'>
    </div>
  </div>
</li>
</script>

<script type="text/html" id="configEntryFileInputTemplate">
<div data-role="fieldcontain"
     class="js-subtab"  data-is-new-diagnose-file="false"
     data-template-bind='[{"attribute": "data-insert-id", "value": "insertId"},
                         {"attribute": "data-is-new-diagnose-file", "value": "isNewDiagnoseFile"},
                        {"attribute": "data-diagnose-tab-config-index", "value": "tabIndex"},
                        {"attribute": "data-diagnose-tab-subtabfile-index", "value": "subTabIndex"}]'>

  <label>Controls File</label>
  <input type="text" data-inline="true" value=""
         class="js-diagnose-file-name"
         data-template-bind='[{"attribute": "value", "value": "fileName"},
                              {"attribute": "data-diagnose-tab-config-index", "value": "tabIndex"},
                              {"attribute": "data-diagnose-tab-subtabfile-index", "value": "subTabIndex"}]' />

  <input type="file" data-inline="true" value=""
         class="js-diagnose-file"
         data-template-bind='[{"attribute": "value", "value": "fileName"},
                              {"attribute": "data-diagnose-tab-config-index", "value": "tabIndex"},
                              {"attribute": "data-diagnose-tab-subtabfile-index", "value": "subTabIndex"}]' />


  <div data-role="fieldcontain" class="hide">
    <input type="checkbox"
         class="categorize-subtab-flipswitch" data-wrapper-class="custom-size-flipswitch"
         data-role="flipswitch"  data-on-text="Classify On" data-off-text="Classify Off"
         data-template-bind='[{"attribute": "value", "value": "classify"},
                              {"attribute": "data-diagnose-tab-config-index", "value": "tabIndex"},
                              {"attribute": "data-diagnose-tab-subtabfile-index", "value": "subTabIndex"}]' />
  </div>


</div>

</script>
<!-- End: Config Tab template -->

</div>
  
  <script src="min/aCode/angularCode.min.js"></script>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
