<div enhance-ui-parent>
  <h3>Classify Diagnose</h3>

  <div data-role="collapsible" data-iconpos="right" data-inset="false"
                     data-collapsed="false"
                     ng-repeat="(key, val) in classifyDiagnoseController.model.selectedControlsDetails"
                     enhance-ui>

    <h4>{{val.controlLabel}}</h4>

    <!--<div ng-include="'CategoriesRoot'"></div>-->
    <categories categorieschildren="val.categoriesInfo"
        template-name="CategoriesButtonsStems"></categories>
  </div>

  <a href="javascript:;" class="ui-link ui-btn ui-shadow ui-corner-all"
    ng-click="classifyDiagnoseController.onSaveClassificationInfo()">Save</a>
</div>
