
  <h2>{{c.data.name}}</h2>

  <ul data-role="listview" data-inset="true">
    <li ng-repeat="s in c.categorieschildren"
        enhance-ui="{event: 'allRendered'}">
      <a href="#">{{s.data.name}}</a>
      <a href="#" data-icon="delete"
         ng-click="deleteSubCategory(s.data.classificationInsertId, c.data.classificationInsertId)"></a>
    </li>
  </ul>

  <div align="right">
    <input type="text" placeholder="New Sub Classification ..."
       id="classificationName" ng-model="c.subCategoryInput" />
    <a href="#" class="ui-btn ui-btn-inline ui-mini"
       ng-click="addSubClassification(c.data.classificationInsertId, $index)">Sub Category</a>
    <a href="#" data-role="button" data-inline="true" ng-click="deleteClassification(c.data.id, $index)">Delete</a>
  </div>

