
<!--<div>{{data.clientId}} </div>
<div>{{data.diagnoseName}} </div> -->

<div data-role="collapsible" data-iconpos="right" data-inset="false"
                   data-collapsed="false"
                   class="js-diagnose-list-item"
                   ng-repeat="di in data.diagnoseItems">

  <h4>{{di.controlLabel}} : {{di.controlValueLabel}}</h4>

  <categories categorieschildren="di.categorieschildren"
         template-name="CategoriesButtonsStems"></categories>
</div>
<!-- <div>{{data}} </div> -->
