<jqm-collapsible title="Diagnose Form Config">

<div ng-controller="DiagnoseConfigController as diagnoseConfigController"
   class="ui-body-d ui-content">
  <div id="diagnoseConfigLoader"></div>
  <!-- <h4>Diagnose Form Config</h4> -->
  <div id="diagnoseConfigSection">

    <div ng-repeat="tab in diagnoseConfigController.model.serviceValues.tabInfo[0].children track by $index"
         jqm-collapsible title="{{tab.properties.label}}" data-collapsed="false" >
      <h4>{{tab.properties.label}}</h4>

      <div>
        Diagnose Tab Name
        <input type="text" id="diagnoseTabName" ng-model="tab.properties.label" />
        <form>
          <!--
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
              <input type="radio"
                     name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}a"
                     value="loadFromList"
                     ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}a">Load UI from List</label>

              <input type="radio"
                    name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}b"
                    value="importExternalJSON"
                    ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}b">Import Exernal JSON</label>

              <input type="radio"
                     name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}c"
                     value="useAsWebCamTab"
                     ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}c">Use as Web Cam Tab</label>

              <input type="radio"
                     name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}d"
                     value="useAsLastDiagnoseTab"
                     ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}d">Use as Last Diagnose Tab</label>

          </fieldset>
          -->

        <jqm-fieldset control-detail="tab.diagnoseTabChoice">
          <jqm-radiobutton-one id="radio-choice-h-{{$index}}a"
              value="loadFromList">  Load UI from List
          </jqm-radiobutton-one>
          <jqm-radiobutton-one id="radio-choice-h-{{$index}}b"
              value="importExternalJSON">  Import Exernal JSON
          </jqm-radiobutton-one>
          <jqm-radiobutton-one id="radio-choice-h-{{$index}}c"
              value="useAsWebCamTab">  Use as Web Cam Tab
          </jqm-radiobutton-one>
          <jqm-radiobutton-one id="radio-choice-h-{{$index}}d"
              value="useAsLastDiagnoseTab">  Use as Last Diagnose Tab
          </jqm-radiobutton-one>
        </jqm-fieldset>
        
        <div class="ui-field-contain"
             ng-show="tab.diagnoseTabChoice === 'loadFromList'">
          <select data-mini="true" data-inline="true" ng-model="tab.selectedList"
                  class="selected-list"
                  ng-options="v.listName for v in
                              diagnoseConfigController.model.controlsServiceValues.lists
                              | property:'section':'diagnose'"
                  ng-change="diagnoseConfigController.onChangeDiagnoseList($index)"
                  >
            <option value="">-- Select List --</option>
          </select>
        </div>
        
        <div class="ui-field-contain"
             ng-show="tab.diagnoseTabChoice === 'importExternalJSON'">
          <label for="fileinput-fc">File of Controls Used {{'"' + tab.fileName + '"'}}</label>
          
          <input type="file" id="fileinput-fc" data-inline="true"
                 ng-model="tab.importFile"
                 index="{{$index}}"
                 onchange="angular.element(this).controller().onFileInput(this, $(this).attr('index'))"
                 />
          <button class="ui-btn ui-btn-inline ui-mini hide" 
                  ng-click="diagnoseConfigController.onImportFile()">Import</button>
        </div>

        <button class="ui-btn ui-btn-inline ui-mini"
                ng-click="diagnoseConfigController.onDeleteDiagnoseTab($index)">Delete Diagnose Tab</button>

        <!-- Tab select options 
        <div tab-options ></div> -->

        <div jqm-collapsible data-collapsed="true" title="Tab select options">
  
  <div>
    <div class="ui-field-contain">
      <form class="tab-classification-options-form clearfix">

        <jqm-fieldset control-detail="tab.properties.inputPanelToUseInDiagnoseTab"
            class="ui-controlgroup-horizontal">

          <jqm-radiobutton-one  id="useClassificationPanelInput{{$index}}"
              on-click="diagnoseConfigController.onChangeInputPanel($index, 'useClassificationPanel')"
              value="useClassificationPanel"> Use Classification Panel
          </jqm-radiobutton-one>
          <jqm-radiobutton-one id="useRightPanelInput{{$index}}"
              on-click="diagnoseConfigController.onChangeInputPanel($index, 'useRightPanel')"
              value="useRightPanel">   Use Right Panel
          </jqm-radiobutton-one>

        </jqm-fieldset>

        <jqm-fieldset>
          <jqm-checkbox id="selectSpecificClassification{{$index}}"
            model="tab.properties.selectSpecificClassification" last
            is-disabled="tab.properties.inputPanelToUseInDiagnoseTab === 'useClassificationPanel'">
              Select specific classification
          </jqm-checkbox>
        </jqm-fieldset>

      <!--
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">

          <label for="useClassificationPanelInput{{$index}}">
            Use Classification Panel
            <input type="radio" id="useClassificationPanelInput{{$index}}"
                   value="useClassificationPanel"
                   name="inputPanelToUseInDiagnoseTab"
                   ng-change="diagnoseConfigController.onChangeInputPanel($index, 'useClassificationPanel')"
                   ng-model="tab.properties.inputPanelToUseInDiagnoseTab" />
          </label>

          <label for="useRightPanelInput{{$index}}">
            Use Right Panel
            <input type="radio" id="useRightPanelInput{{$index}}"
                 value="useRightPanel"
                 name="inputPanelToUseInDiagnoseTab"
                 ng-change="diagnoseConfigController.onChangeInputPanel($index, 'useRightPanel')"
                 ng-model="tab.properties.inputPanelToUseInDiagnoseTab" />
          </label>

        </fieldset>

        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
          <label for="selectSpecificClassification{{$index}}"
                ng-disabled="tab.properties.inputPanelToUseInDiagnoseTab === 'useClassificationPanel'">
                Select specific classification
                <input type="checkbox" id="selectSpecificClassification{{$index}}"
                  value="selectSpecificClassification"
                  ng-model="tab.properties.selectSpecificClassification"
                  ng-disabled="tab.properties.inputPanelToUseInDiagnoseTab === 'useClassificationPanel'" />
          </label>
        </fieldset> -->
      </form>

      <div class="ui-grid-c">
        <div class="ui-block-a"
            ng-show="tab.properties.inputPanelToUseInDiagnoseTab === 'useClassificationPanel'
                      || (tab.properties.inputPanelToUseInDiagnoseTab === 'useRightPanel'
                          && tab.properties.selectSpecificClassification === true)">
          Left Panel
          <select data-mini="true" data-inline="true" ng-model="tab.leftPanelCategoriesList"
              class="selected-list"
              ng-options="v.listName for v in
                          diagnoseConfigController.model.controlsServiceValues.lists 
                          | property:'section':'categories'"
              ng-change="diagnoseConfigController.onChangeCategories($index, 'leftPanel')"
              >
            <option value="">-- Select List --</option>
          </select>
        </div>

        <div class="ui-block-b"
          ng-show="tab.properties.inputPanelToUseInDiagnoseTab === 'useRightPanel'">
          Right Panel
          <select data-mini="true" data-inline="true" ng-model="tab.rightPanelCategoriesList"
              class="selected-list"
              ng-options="v.listName for v in
                          diagnoseConfigController.model.controlsServiceValues.lists 
                          | property:'section':'categories'"
              ng-change="diagnoseConfigController.onChangeCategories($index, 'rightPanel')"
              >
            <option value="">-- Select List --</option>
          </select>
        </div>

        <div class=""
            ng-show="tab.properties.inputPanelToUseInDiagnoseTab === 'useRightPanel'
                  && tab.properties.selectSpecificClassification">
          <select data-mini="true" data-inline="true"
              ng-model="tab.properties.selectSpecificClassificationCategory"
              class="selected-list"
              ng-options="v for v in tab.categoriesListArray"
              >
            <option value="">-- Select List --</option>
          </select>
        </div>
      </div>
    </div>
    
    <div class="ui-field-contain">
      <form>
        <!-- <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
          <input type="checkbox" id="useAsMandatoryInput{{$index}}"
                 value="useAsMandatory"
                 ng-model="tab.properties.useAsMandatoryInput" />
          <label for="useAsMandatoryInput{{$index}}">Use as Mandatory</label>

        </fieldset> -->
        <jqm-fieldset>
          <jqm-checkbox id="useAsMandatoryInput{{$index}}" value="useAsMandatory"
              model="tab.properties.useAsMandatoryInput" last>
              Use as Mandatory
          </jqm-checkbox>
        </jqm-fieldset>
      </form>
    </div>

  </div>
</div>


      </div>
    </div>

    <button class="ui-btn ui-btn-inline ui-mini"
            ng-click="diagnoseConfigController.onAddDiagnoseTab()">Add Diagnose Tab</button>
    <button class="ui-btn ui-btn-inline ui-mini"
            ng-click="diagnoseConfigController.onSaveDiagnoseConfig()">Save Diagnose Config</button>

  </div>
</div>

</jqm-collapsible>
