<div ng-controller="DiagnoseConfigController as diagnoseConfigController"
  data-role="collapsible" data-collapsed="true" class="ui-body-d ui-content">
  <div id="diagnoseConfigLoader"></div>
  <h4>Diagnose Form Config</h4>
  <div id="diagnoseConfigSection">

    <div ng-repeat="tab in diagnoseConfigController.model.serviceValues.tabInfo[0].children track by $index"
         data-role="collapsible" data-collapsed="false" >
      <h4>{{tab.properties.label}}</h4>

      <div>
        Diagnose Tab Name
        <input type="text" id="diagnoseTabName" ng-model="tab.properties.label" />
        <form>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
              <input type="radio"
                     name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}a"
                     ng-click="diagnoseConfigController.onChangeTabChoice()"
                     value="loadFromList"
                     ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}a">Load UI from List</label>

              <input type="radio"
                     name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}b"
                     ng-click="diagnoseConfigController.onChangeTabChoice()"
                     value="importExternalJSON"
                     ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}b">Import Exernal JSON</label>

              <input type="radio"
                     name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}c"
                     value="useAsWebCamTab"
                     ng-click="diagnoseConfigController.onChangeTabChoice('useAsWebCamTab')"
                     ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}c">Use as Web Cam Tab</label>

              <input type="radio"
                     name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}d"
                     value="useAsLastDiagnoseTab"
                     ng-click="diagnoseConfigController.onChangeTabChoice()"
                     ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}d">Use as Last Diagnose Tab</label>

          </fieldset>
        </form>
        
        <div class="ui-field-contain"
             ng-show="tab.diagnoseTabChoice === 'loadFromList'">
          <select data-mini="true" data-inline="true" ng-model="tab.selectedList"
                  class="selected-list"
                  ng-options="v.listName for v in
                              diagnoseConfigController.model.controlsServiceValues.lists
                              | property:'section':'diagnose'"
                  ng-change="diagnoseConfigController.onChangeDiagnoseList($index)"
                  >
            <option value="">-- Select List --</option>
          </select>
        </div>
        
        <div class="ui-field-contain"
             ng-show="tab.diagnoseTabChoice === 'importExternalJSON'">
          <label for="fileinput-fc">File of Controls Used {{'"' + tab.fileName + '"'}}</label>
          
          <input type="file" id="fileinput-fc" data-inline="true"
                 ng-model="tab.importFile"
                 index="{{$index}}"
                 onchange="angular.element(this).controller().onFileInput(this, $(this).attr('index'))"
                 />
          <button class="ui-btn ui-btn-inline ui-mini hide" 
                  ng-click="diagnoseConfigController.onImportFile()">Import</button>
        </div>

        <button class="ui-btn ui-btn-inline ui-mini"
                ng-click="diagnoseConfigController.onDeleteDiagnoseTab($index)">Delete Diagnose Tab</button>

        <!-- Tab select options -->
        <!--<div ng-include="'/AppCode/DiagnoseConfig/TabOptionsTemplate.html'"></div> -->
        <tab-options ></tab-options>

      </div>
    </div>

    <button class="ui-btn ui-btn-inline ui-mini"
            ng-click="diagnoseConfigController.onAddDiagnoseTab()">Add Diagnose Tab</button>
    <button class="ui-btn ui-btn-inline ui-mini"
            ng-click="diagnoseConfigController.onSaveDiagnoseConfig()">Save Diagnose Config</button>

  </div>
</div>
