<div data-role="collapsible" data-collapsed="false" class="ui-body-d ui-content">
  <h4>Diagnose Form Config</h4>
  <div id="diagnoseConfigSection">

    <pre class="code hide">{{diagnoseConfigController.model | json}} </pre>
    <div ng-repeat="tab in diagnoseConfigController.model.values.tabInfo[0].children track by $index"
         data-role="collapsible" data-collapsed="false">
      <h4>{{tab.tabName}}</h4>

      <div>
        Diagnose Tab Name
        <input type="text" id="diagnoseTabName" ng-model="tab.tabName" />
        <form>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
              <input type="radio"
                     name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}a"
                     ng-click="diagnoseConfigController.onChangeTabChoice()"
                     value="loadFromList"
                     ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}a">Load UI from List</label>

              <input type="radio"
                     name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}b"
                     ng-click="diagnoseConfigController.onChangeTabChoice()"
                     value="importExternalJSON"
                     ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}b">Import Exernal JSON</label>

              <input type="radio"
                     name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}c"
                     value="useAsWebCamTab"
                     ng-click="diagnoseConfigController.onChangeTabChoice()"
                     ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}c">Use as Web Cam Tab</label>

              <input type="radio"
                     name="radio-choice-h-{{$index}}" id="radio-choice-h-{{$index}}d"
                     value="useAsLastDiagnoseTab"
                     ng-click="diagnoseConfigController.onChangeTabChoice()"
                     ng-model="tab.diagnoseTabChoice">
              <label for="radio-choice-h-{{$index}}d">Use as Last Diagnose Tab</label>

          </fieldset>
        </form>
        
        <div class="ui-field-contain"
             ng-show="tab.diagnoseTabChoice === 'loadFromList'">
          <select data-mini="true" data-inline="true" ng-model="tab.selectedList"
                  class="selected-list"
                  ng-options="v.listName for v in
                              diagnoseConfigController.model.controlsServiceValues.lists
                              | property:'section':'diagnose'"
                  ng-change="diagnoseConfigController.onChangeList($index)"
                  >
            <option value="">-- Select List --</option>
          </select>
        </div>
        
        <div class="ui-field-contain"
             ng-show="tab.diagnoseTabChoice === 'importExternalJSON'">
          <label for="fileinput-fc">File of Controls Used {{'"' + tab.fileName + '"'}}</label>
          
          <input type="file" id="fileinput-fc" data-inline="true"
                 ng-model="tab.importFile"
                 index="{{$index}}"
                 onchange="angular.element(this).controller().onFileInput(this)"
                 />
          <button class="ui-btn ui-btn-inline ui-mini hide" 
                  ng-click="diagnoseConfigController.onImportFile()">Import</button>
        </div>

        <button class="ui-btn ui-btn-inline ui-mini"
                ng-click="diagnoseConfigController.onDeleteDiagnoseTab($index)">Delete Diagnose Tab</button>

        <!-- Tab select options -->
        <div data-role="collapsible" data-collapsed="false">
          <h4> Tab select options</h4>
          <div>
            <div class="ui-field-contain">
              <form>
                <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">

                  <input type="checkbox" id="useClassificationPanelInput{{$index}}"
                         value="useClassificationPanel"
                         ng-model="tab.useClassificationPanelInput" />
                  <label for="useClassificationPanelInput{{$index}}">Use Classification Panel</label>

                  <input type="checkbox" id="selectSpecificClassification{{$index}}"
                         value="selectSpecificClassification"
                         ng-model="tab.selectSpecificClassification"
                         ng-show="tab.useClassificationPanelInput" />
                  <label for="selectSpecificClassification{{$index}}"
                         ng-show="tab.useClassificationPanelInput">Select specific classification</label>

                </fieldset>
              </form>

              <div class="ui-grid-e">
                <div class="ui-block-a"
                    ng-show="tab.useClassificationPanelInput">
                  <!-- <pre class="code">{{diagnoseConfigController.model.controlsServiceValues.lists | json}}</pre> -->
                  <select data-mini="true" data-inline="true" ng-model="tab.categoriesList"
                      class="selected-list"
                      ng-options="v.listName for v in
                                  diagnoseConfigController.model.controlsServiceValues.lists 
                                  | property:'section':'categories'"
                      ng-change="diagnoseConfigController.onChangeCategories($index)"
                      >
                    <option value="">-- Select List --</option>
                  </select>
                </div>

                <div class="ui-block-b"
                    ng-show="tab.useClassificationPanelInput && tab.selectSpecificClassification">
                  <select data-mini="true" data-inline="true" ng-model="tab.category"
                      class="selected-list"
                      ng-options="v for v in tab.categoriesListArray"
                      >
                    <option value="">-- Select List --</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="ui-field-contain">
              <form>
                <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">

                  <input type="checkbox" id="useAsMandatoryInput{{$index}}"
                         value="useAsMandatory"
                         ng-model="tab.useAsMandatoryInput" />
                  <label for="useAsMandatoryInput{{$index}}">Use as Mandatory</label>

                </fieldset>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>

    <button class="ui-btn ui-btn-inline ui-mini"
            ng-click="diagnoseConfigController.onAddDiagnoseTab()">Add Diagnose Tab</button>
    <button class="ui-btn ui-btn-inline ui-mini"
            ng-click="diagnoseConfigController.onSaveDiagnoseConfig()">Save Diagnose Config</button>

  </div>
</div>