<div data-role="collapsible" data-collapsed="true">
  <h4>Tab select options</h4>
  <div>
    <div class="ui-field-contain">
      <form>
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">

          <input type="checkbox" id="useClassificationPanelInput{{$index}}"
                 value="useClassificationPanel"
                 ng-model="tab.properties.useClassificationPanelInput" />
          <label for="useClassificationPanelInput{{$index}}">Use Classification Panel</label>

          <input type="checkbox" id="selectSpecificClassification{{$index}}"
                value="selectSpecificClassification"
                ng-show="tab.properties.useClassificationPanelInput"
                ng-model="tab.properties.selectSpecificClassification" />
          <label for="selectSpecificClassification{{$index}}"
                ng-show="tab.properties.useClassificationPanelInput"
                >Select specific classification</label>

        </fieldset>
      </form>

      <div class="ui-grid-e">
        <div class="ui-block-a"
            ng-show="tab.properties.useClassificationPanelInput">

          <select data-mini="true" data-inline="true" ng-model="tab.categoriesList"
              class="selected-list"
              ng-options="v.listName for v in
                          diagnoseConfigController.model.controlsServiceValues.lists 
                          | property:'section':'categories'"
              ng-change="diagnoseConfigController.onChangeCategories($index)"
              >
            <option value="">-- Select List --</option>
          </select>
        </div>

        <div class="ui-block-b"
            ng-show="tab.properties.useClassificationPanelInput 
                  && tab.properties.selectSpecificClassification">
          <select data-mini="true" data-inline="true"
              ng-model="tab.properties.selectSpecificClassificationCategory"
              class="selected-list"
              ng-options="v for v in tab.categoriesListArray"
              >
            <option value="">-- Select List --</option>
          </select>
        </div>
      </div>
    </div>
    
    <div class="ui-field-contain">
      <form>
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
          <input type="checkbox" id="useAsMandatoryInput{{$index}}"
                 value="useAsMandatory"
                 ng-model="tab.properties.useAsMandatoryInput" />
          <label for="useAsMandatoryInput{{$index}}">Use as Mandatory</label>

        </fieldset>
      </form>
    </div>

  </div>
</div>
