.hide {
  display: none;
}
.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
  text-indent: -5.9em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
  text-indent: 0.5em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */

.custom-size-flipswitch.ui-flipswitch {
  width: 10em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
  padding-left: 7em;
  width: 1.875em;
}
@media (min-width: 28em) {
  /*/ Repeated from rule .ui-flipswitch above */
  .ui-field-contain > label + .custom-size-flipswitch.ui-flipswitch {
    width: 1.875em;
  }
}
body {
  background-color: #252525;
}
.ui-grid-a>r>.ui-block-a,
.ui-grid-a>r>.ui-block-b {
  width: 50%
}
.ui-grid-b>r>.ui-block-a,
.ui-grid-b>r>.ui-block-b,
.ui-grid-b>r>.ui-block-c {
  width: 33.333%
}
.ui-grid-c>r>.ui-block-a,
.ui-grid-c>r>.ui-block-b,
.ui-grid-c>r>.ui-block-c,
.ui-grid-c>r>.ui-block-d {
  width: 25%
}
.ui-grid-d>r>.ui-block-a,
.ui-grid-d>r>.ui-block-b,
.ui-grid-d>r>.ui-block-c,
.ui-grid-d>r>.ui-block-d,
.ui-grid-d>r>.ui-block-e {
  width: 20%
}
.ui-grid-solo>r>.ui-block-a {
  width: 100%;
  float: none
}
.controlgroup-block>.ui-controlgroup-horizontal>.ui-controlgroup-controls {
  display: block;
}
.controlgroup-block>.ui-controlgroup-horizontal>.ui-controlgroup-controls>.ui-checkbox {
  display: block;
  float: none;
}
.controlgroup-block>.ui-controlgroup-horizontal>.ui-controlgroup-controls>.ui-checkbox>.ui-btn {
  text-align: center;
}
.controlgroup-block .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-checkbox .ui-btn {
  padding: 4px;
}
