<div data-role="collapsible">
  <h4 >{{details.clientId}} : {{ details.clientName || "Client Name"}}</h4>

  <client-appointments></client-appointments>

  <personal-details></personal-details>

  <diagnose-details client-id="details.clientId" diagnose-data="details.diagnoseData"></diagnose-details>

  <div class="ui-body-d ui-content">
    <a href="javascript:;" data-role="button" data-inline="true" class="js-add-new-diagnose-button"
       data-template-bind='[{"attribute": "data-client-id", "value": "properties.clientId"}]'
       ng-click="onAddDiagnose()">Add Diagnose</a>

    <a href="javascript:;" data-role="button" data-inline="true" class="js-delete-client-button"
        ng-click="onDeleteClient(index)">Delete Client</a>
  </div>
</div>
