<div data-role="collapsible-set">
  <div ng-repeat="diagnose in diagnoseData track by $index">
    <div jqm-collapsible data-collapsed="false" title="{{ diagnose.diagnoseName || 'Diagnose'}}">

      <ul style="list-style: none" class="ui-listview">
        <li ng-repeat="c in diagnose.categoriesArray"
            data-role="{{ (c.title ? 'list-divider' : '') }}"
            ng-class="{ 'ui-li-divider':c.title, 'ui-bar-inherit':c.title, 'ui-li-static':!c.title, 'ui-body-inherit':!c.title }"
            style="{{ c.title ? 'font-weight:bold' : '' }}"
            >
            {{c.text}}</li>

        <li  class="ui-li-divider ui-bar-inherit" ng-if="diagnose.lastDiagnoseWithStatus !== null" >
          Last diagnose status
        </li>
        <li ng-repeat="(key, status) in diagnose.lastDiagnoseWithStatus.selectedControlsDetails" 
            ng-if="diagnose.lastDiagnoseWithStatus !== null"  class="ui-li-static ui-body-inherit">
          {{status.controlLabel}} : {{status.valueLabel}} : 
          <span style="font-weight:bold">{{status.statusValue.toUpperCase()}}</span>
        </li>

      </ul>


      <div ng-repeat="d in diagnose.imageCollectionHolder">
        <img ng-repeat="a in d track by $index" height="100" src="{{a.src}}" style="margin-right: 5px;" />
      </div>

      <a href="#" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" data-inline="true" 
        ng-click="onEditDiagnose($index)">Edit</a>

      <a href="#" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" data-inline="true" 
        ng-click="onClassifyDiagnose($index)">Classify</a>

      <a href="#" class="ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all" data-inline="true" 
        ng-click="onDeleteDiagnose($index)">Delete</a>

    </div>

  </div>
</div>
