<!DOCTYPE html>
<html>
<head>
<title>Prototype</title>

  <link rel="stylesheet" href="/Libs/bootstrap-3.3.2-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/Libs/angular-ui-tree-master/dist/angular-ui-tree.min.css" />
  <link rel="stylesheet" href="/Libs/jquery-mobile/jquery.mobile-1.4.5.min.css" />
  <link rel="stylesheet" href="/Libs/jquery-mobile/jquery.mobile.structure-1.4.5.min.css" />
  <link rel="stylesheet" href="tree-app.css" />

  <script src="/Libs/jquery/jquery-2.1.3.js"></script>
  <script src="/Libs/jquery-mobile/jquery.mobile-1.4.5.js"></script>

  <style>
    .margin-lg  { margin: 10px;  }
    .padding-lg  { padding: 10px;  }
    .hidden-element { opacity: 0; }

    #notification { font-weight: bold; }
  </style>

</head>
<body>
<div data-role="page" id="defaultPage">
  <div data-role="header" id="header" class="jqm-header">
    <h1 id="pageHeader">Config List Prototype</h1>
  </div>
  <div id="content" role="main" class="ui-content jqm-content">
    <div ng-app="treePrototype">
      <div class="row">
        <div class="col-lg-12">

          <div class="ui-grid-a" >
            <div class="ui-block-a padding-lg" ng-controller="MainCtrl">
              <h4>Draggable Tree</h4>
              <div ui-tree="options"
                   style="max-height: 400px; overflow-y: auto; border-bottom: 1px solid #ccc; margin-bottom-20px;">
                <ol ui-tree-nodes ng-model="listControls" >
                  <li ng-repeat="item in listControls" ui-tree-node ng-include="'items_renderer.html'"></li>
                </ol>
              </div>

              <div class="row">
                <div id="notification" class="text-info col-lg-12 margin-lg">

                </div>
                <div class="col-lg-6">

                  <input type="text" ng-model="formItem.properties.label" placeholder="New List Item ..."  / >
                  <a href="#" class="ui-btn" ng-click="createList()">Create New List</a>
                </div>

                <div class="col-lg-6">
                  <select ng-model="formItem.type">
                    <option value="">-- Select Control --</option>
                    <option value="Checkbox">Checkbox</option>
                    <option value="CheckboxGroup">CheckboxGroup</option>
                    <option value="RadioButton">Radio button</option>
                    <option value="Div">Div</option>
                    <option value="Slider">Slider</option>
                    <option value="Content">Content</option>
                    <option value="ToggleSwitch">ToggleSwitch</option>
                    <option value="TextInput">TextInput</option>
                    <option value="Collapsible">Collapsible</option>
                    <!--<option value="Text">Text</option> -->
                  </select>
                  <a href="#" class="ui-btn" ng-click="add()">Add</a>
                </div>
              </div>

            </div>
            <div style="height: 600px; overflow-y: auto"
                 class="ui-block-b padding-vlg"
                 ng-controller="PreviewControlsController as p">
              <h4>Preview</h4>
              <div ng-repeat="l in p.controlsHandle.controls">
                <r controls="l"></r>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
  <script src="/Libs/angular-1.3.8/angular.js"></script>
  <script src="/Libs/angular-ui-tree-v2.0.13.js"></script>

  <script src="/Components/UIComponents/initModule.js"></script>
  <script src="/Components/UIComponents/Services/DirectiveCreateService.js"></script>

  <script src="/Components/UIComponents/RoleDirective.js"></script>
  <script src="/Components/UIComponents/enhanceUIDirective.js"></script>
  <script src="/Components/UIComponents/CategoriesDirective.js"></script>
  <script src="/Components/UIComponents/DirectiveHelperFunctions.js"></script>
  <script src="/Components/UIComponents/DirectiveHelperService.js"></script>

  <script src="/AppCode/aCode/aDataFactory.js"></script>

  <script src="initTreePrototype.js"></script>
  <script src="ListData.js"></script>
  <script src="ControlsService.js"></script>
  <script src="Notification.js"></script>

  <script src="PreviewControlsController.js"></script>
  <script src="ShowJSONTreeCtrl.js"></script>
  <script src="MainCtrl.js"></script>

</body>
</html>
